<ion-list radio-group [(ngModel)]="radioModel" (ionChange)="setValues()">
    <ion-list-header>
        Search by:
    </ion-list-header>
    <div>
        <ion-item no-lines>
            <ion-label>UPI</ion-label>
            <ion-radio value="upi"></ion-radio>
        </ion-item>
        <ion-item no-lines>
            <ion-label>ID</ion-label>
            <ion-radio value="id"></ion-radio>
        </ion-item>
        <ion-item no-lines>
            <ion-label>First name</ion-label>
            <ion-radio value="firstName"></ion-radio>
        </ion-item>
        <ion-item no-lines>
            <ion-label>Last name</ion-label>
            <ion-radio value="lastName"></ion-radio>
        </ion-item>
    </div>
</ion-list>