<ion-list radio-group [(ngModel)]="radioModel" (ionChange)="setValues()">
    <ion-list-header>
        Search by:
    </ion-list-header>
    <ion-item>
        <ion-label>UPI</ion-label>
        <ion-radio value="upi"></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>First name</ion-label>
        <ion-radio value="firstName"></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>Last name</ion-label>
        <ion-radio value="lastName"></ion-radio>
    </ion-item>
</ion-list>