<ion-header>
    <ion-navbar>
        <ion-title>Ldapa</ion-title>
        <ion-buttons start>
            <button (click)="getMe()">
                {{authModel.user.name}}
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="home">
    <ion-list>
        <ion-item-group>
            <ion-toolbar white>
                <ion-buttons>
                    <button primary (click)="presentFilter($event)">
                        <ion-icon name="settings"></ion-icon>
                        Search Filter
                    </button>
                </ion-buttons>
            </ion-toolbar>

            <ion-item *ngIf="excludedFilters.upi">
                <ion-label floating>UPI</ion-label>
                <ion-input [(ngModel)]="upi" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="excludedFilters.email">
                <ion-label floating>Email</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="excludedFilters.displayName">
                <ion-label floating>Display name</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="excludedFilters.firstName">
                <ion-label floating>First name</ion-label>
                <ion-input [(ngModel)]="firstName" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="excludedFilters.lastName">
                <ion-label floating>Last name</ion-label>
                <ion-input [(ngModel)]="lastName" type="text"></ion-input>
            </ion-item>

            <div padding>
                <button (click)="search()" [disabled]="!upi && !firstName && !lastName">
                    <ion-icon name="search"></ion-icon>
                    Do Search
                </button>
            </div>
        </ion-item-group>
    </ion-list>

    <ion-toolbar white>
        <ion-buttons item-left>
            <button primary (click)="presentFilter()">
                Results
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button reda (click)="clearResults()">
                <ion-icon name="close-circle"></ion-icon>
                Clear
            </button>
        </ion-buttons>
    </ion-toolbar>

    <user-card *ngFor="let user of users" [user]="user" (userDeleted)="popUser(user)"></user-card>
</ion-content>
